
@{
    ViewBag.Title = "Acerca";
}
    <center>
        <h2>Acerca</h2>

        <img src="~/Models/milo.jpg" width="300" height="300" class="thumbnail" />
        <br />
        Emilio De los santos 2017-5095
        <hr />
        <img src="~/Models/yara.jpg" width="300" height="300" class="thumbnail" />
        <br />
        Yadhira Feliz 2017-5279
        <hr />


    </center>