
@{
    ViewBag.Title = "Estudiantes";
}
    <center>
        <h2>Seleccione el grupo a Consultar</h2><hr />
        <br />
        <button>
            @Html.ActionLink("Grupo 1", "Create", "grupo1")
        </button><br /><hr />
        <button>
            @Html.ActionLink("Grupo 2", "Create", "grupo2")
        </button><br /><hr />


    </center>
