
@{
    ViewBag.Title = "Estudiantes";
}
    <center>
        <h2>Seleccione el grupo a Consultar</h2><hr />
        <br />
        <button type="button" class="btn btn-default>Grupo 1</button><br />
        <button type="button" class="btn btn-default">Grupo 2</button>
    </center>
